version: '3.8'

services:
  backend:
    build: backend
    ports:
      - "8000:8000"
    environment:
      - AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}
      - AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}
      - AWS_REGION=us-east-1
      - AWS_BEDROCK_GUARDRAIL_ID=${AWS_BEDROCK_GUARDRAIL_ID}
      - AWS_BEDROCK_GUARDRAIL_VERSION=${AWS_BEDROCK_GUARDRAIL_VERSION}
    volumes:
      - ./backend/database.db:/app/database.db

  frontend:
    build: frontend
    ports:
      - "80:80"
    environment:
      - VITE_API_BASE_URL=http://backend:8000
    depends_on:
      - backend
